<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-peanutlabs"
	version="0.0.7">
      
  <name>Peanutlabs</name>
	<description>Cordova plugin for Peanutlabs rewards Center</description>
	<author>Bilguun Oyunchimeg</author>
	<license>MIT</license>
	<keywords>peanutlabs,peanut,ads,survey</keywords>
    <repo>https://github.com/peanut-labs/publisher-cordova-plugin.git</repo>
    <issue>https://github.com/peanut-labs/publisher-cordova-plugin/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

  <js-module src="www/peanutplugin.js" name="peanutplugin">
      <clobbers target="PeanutlabsPlugin" />
  </js-module>

    <!-- android -->
  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="PeanutlabsPlugin">
              <param name="android-package" value="com.peanutlabs.plugin.PLPluginManager"/>
          </feature>
      </config-file>
      <source-file src="src/android/PLPluginManager.java" target-dir="src/com/peanutlabs/plugin" />
			<source-file src="src/android/plsdk.jar" target-dir="libs" />
			
			<resource-file src="res/drawable-hdpi/ic_action_accept.png" target="res/drawable-hdpi/ic_action_accept.png" />
			<resource-file src="res/drawable-hdpi/ic_action_cancel.png" target="res/drawable-hdpi/ic_action_cancel.png" />
			<resource-file src="res/drawable-hdpi/ic_action_next_item.png" target="res/drawable-hdpi/ic_action_next_item.png" />
			<resource-file src="res/drawable-hdpi/ic_action_previous_item.png" target="res/drawable-hdpi/ic_action_previous_item.png" />
			
			<resource-file src="res/drawable-mdpi/ic_action_accept.png" target="res/drawable-mdpi/ic_action_accept.png" />
			<resource-file src="res/drawable-mdpi/ic_action_cancel.png" target="res/drawable-mdpi/ic_action_cancel.png" />
			<resource-file src="res/drawable-mdpi/ic_action_next_item.png" target="res/drawable-mdpi/ic_action_next_item.png" />
			<resource-file src="res/drawable-mdpi/ic_action_previous_item.png" target="res/drawable-mdpi/ic_action_previous_item.png" />
			
			<resource-file src="res/drawable-xhdpi/ic_action_accept.png" target="res/drawable-xhdpi/ic_action_accept.png" />
			<resource-file src="res/drawable-xhdpi/ic_action_cancel.png" target="res/drawable-xhdpi/ic_action_cancel.png" />
			<resource-file src="res/drawable-xhdpi/ic_action_next_item.png" target="res/drawable-xhdpi/ic_action_next_item.png" />
			<resource-file src="res/drawable-xhdpi/ic_action_previous_item.png" target="res/drawable-xhdpi/ic_action_previous_item.png" />
			
			<resource-file src="res/drawable-xxhdpi/ic_action_accept.png" target="res/drawable-xxhdpi/ic_action_accept.png" />
			<resource-file src="res/drawable-xxhdpi/ic_action_cancel.png" target="res/drawable-xxhdpi/ic_action_cancel.png" />
			<resource-file src="res/drawable-xxhdpi/ic_action_next_item.png" target="res/drawable-xxhdpi/ic_action_next_item.png" />
			<resource-file src="res/drawable-xxhdpi/ic_action_previous_item.png" target="res/drawable-xxhdpi/ic_action_previous_item.png" />
			
			<resource-file src="res/layout/activity_rewards_center.xml" target="res/layout/activity_rewards_center.xml" />
			
			<resource-file src="res/values/dimens.xml" target="res/values/dimens.xml" />
			<resource-file src="res/values/strings.xml" target="res/values/strings.xml" />
			<resource-file src="res/values/styles.xml" target="res/values/styles.xml" />
			
			<resource-file src="res/values-v11/styles.xml" target="res/values-v11/styles.xml" />
			
			<resource-file src="res/values-v14/styles.xml" target="res/values-v14/styles.xml" />
			
			<resource-file src="res/values-w820dp/dimens.xml" target="res/values-w820dp/dimens.xml" />
   </platform>
</plugin>