<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-peanutlabs"
	version="2.2.0">
      
  <name>Peanutlabs</name>
	<description>Cordova plugin for Peanutlabs rewards Center</description>
	<author>Bilguun Oyunchimeg</author>
	<license>MIT</license>
	<keywords>peanutlabs,peanut,ads,survey</keywords>
    <repo>https://github.com/peanut-labs/publisher-cordova-plugin.git</repo>
    <issue>https://github.com/peanut-labs/publisher-cordova-plugin/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

  <js-module src="www/peanutplugin.js" name="peanutplugin">
      <clobbers target="peanutplugin" />
  </js-module>

    <!-- android -->
  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="PLPluginManager">
              <param name="android-package" value="com.peanutlabs.cordova.plugin.PLPluginManager"/>
          </feature>
      </config-file>
      <source-file src="src/android/PLPluginManager.java" target-dir="com/peanutlabs/cordova/plugin" />
   </platform>
</plugin>